.FilmsDescription {
    max-width: 500px;
}

.description {
    width: 500px;
    display: flex;
    justify-items: center;
    text-align: center;
}

.comments-header {
    margin: 50px 0;
}

/* comments */

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.comment {
    margin-bottom: 1rem;
}

.comment.sended span {
    text-decoration: line-through;
}

.comment label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    background-color: #f3f3f3;
}

.comment i {
    z-index: 2;
}

.comment-ul {
    padding-left: 0;
    list-style-type: none;
}

#title {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}